.eventRow{
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    /* background-color: red; */
    width: 75%;
    margin-bottom: 2rem;
}

.eventRowShort{
    display: flex !important;
    width: 75%;
}

.sbmtBtn{
    background-color: #82A5FF !important;
    padding: 0.25rem !important;
    height: 2.5rem !important;
    width: 9rem !important;
    border-radius: 0.5rem !important;
    margin-left: 5rem !important;
    font-weight: bold !important;
    color: white !important;
    margin-bottom: 1rem !important;
}

@media only screen and (max-width: 1180px) {
    /* CSS styles for small screens go here */
    .eventRow{
        display: flex;
        flex-direction: column;
    }
  }