.eventRow {
	display: flex !important;
	justify-content: space-evenly !important;
	align-items: center !important;
	/* background-color: red; */
	width: 75%;
	margin-bottom: 2rem;
}

.cardContainer {
	border: none !important;
	box-shadow: none !important;
	background-color: #38729b !important;
	border-radius: 10px !important;
	box-shadow: 0 1rem 1.25rem rgba(0, 0, 0, 0.288) !important;
	/* padding: 0.15rem !important; */
	margin: 1rem !important;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #0c3c60;
}

.eventRowShort {
	display: flex !important;
	width: 75%;
}

.sbmtBtn {
	background-color: #0c3c60 !important;
	padding: 0.25rem !important;
	height: 2.5rem !important;
	width: 9rem !important;
	border-radius: 0.5rem !important;
	margin-left: 5rem !important;
	font-weight: bold !important;
	color: white !important;
	margin-bottom: 1rem !important;
}

@media only screen and (max-width: 1180px) {
	/* CSS styles for small screens go here */
	.eventRow {
		display: flex;
		flex-direction: column;
	}
}
