.parent{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.container{
    /* background-color: red; */
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    position: relative;
    align-self: self-start;
    font-size: 4rem;
    font-weight: bold;
}

.details{
    display: flex;
    /* background-color: rebeccapurple; */
    align-self: flex-start;
}

.eventForm{
    display: flex !important;
    flex-direction: column !important;
}

.rgtsBtn{
    margin-right: 1rem !important;
    font-weight: bold !important;
    color: white !important;
    background-color: #ff833c !important;
}

.dtls{
    /* background-color: red; */
    width: 100%;
}

.export{
        margin-right: 1rem !important;
        font-weight: bold !important;
        color: white !important;
        background-color: #ff833c !important;
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
}