.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	margin-top: 1rem;
}

.table {
	width: 50vw !important;
	height: fit-content;
	margin-right: 1rem !important;
}

.actionsCell {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem !important;
	align-items: center;
}

.btn {
	background-color: #38729b !important;
	color: white !important;
}
